html, body {
    overflow-x: hidden;
}
html {
    background-color: #F2F2F2;
}
a {
    color: #333333;
}
a:hover {
    color: #ff0000;
}
/** layui **/
 .layui-nav-tree .layui-icon {
    position: relative;
    top: 2px;
    font-size: 20px;
    margin-right: 10px;
}
.layui-card-header {
    border-bottom: 1px solid #eee;
}
.layui-card-header .lark-this {
    display: inline-block;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #5FB878;
    color: #009688;
}
.layui-header .layui-layout-left {
    left: 180px;
}
/** lark common **/
 .lark-mt {
    margin-top: 10px;
}
.lark-mb {
    margin-bottom: 15px;
}
.lark-pd {
    padding: 15px;
}
.txt-green {
    color: #28a745;
}
.txt-red {
    color: #dc3545;
}
.txt-yellow {
    color: #ffc107;
}
.txt-cyan {
    color: #17a2b8;
}
.txt-blue {
    color: #007bff;
}
/* 头部 */
 .lark-header {
    background: #393D49;
}
.lark-logo {
    position: absolute;
    top: 0;
    left: 15px;
    overflow: hidden;
    height: 60px;
    line-height: 60px;
    color: #f2f2f2;
}
.lark-logo img {
    max-height: 60px;
    max-width: 200px;
}
.layui-header .layui-nav .layui-nav-item .icon-link {
    line-height: 60px;
    height: 60px;
    font-size: 16px;
    vertical-align: center;
}
.layui-header .icon-link span {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    font-size: 16px;
}
.layui-header .icon-link i {
    font-size: 20px;
    font-weight: bold;
    margin-right: 0.1em;
}
/* 底部 */
 .lark-footer {
    margin: 20px 0 0;
    padding: 20px 0 30px;
    line-height: 30px;
    text-align: center;
    color: #737573;
    border-top: 1px solid #e2e2e2;
    position: relative;
}
.lark-footer a {
    padding: 0 6px;
    color: #333;
}
.lark-footer a:hover {
    color: #777;
}
.lark-footer .powered {
    position: absolute;
    bottom: 30px;
    right: 10px;
    line-height: 30px;
}
.lark-footer .powered a {
    padding: 0;
}
@media screen and (max-width: 750px) {
    .lark-footer .powered {
        position: relative;
        bottom: auto;
        right: auto;
    }
}
.lark-union {
    margin-top: 10px;
    color: #999;
}
.lark-union > * {
    display: inline-block;
    vertical-align: middle;
}
.lark-union a[upyun] img {
    width: 80px;
}
.lark-union span {
    position: relative;
    top: 3px;
}
.lark-union span a {
    padding: 0;
    display: inline;
    color: #999;
}
.lark-union span a:hover {
    text-decoration: underline;
}
/* 面板 */
 .lark-panel {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}
.lark-panel[pad20] {
    padding: 20px;
}
.lark-panel-title {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px dotted #E9E9E9;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}
.lark-panel-main {
    padding: 10px 15px;
}
/* 专栏 */
 .lark-column {
    height: 42px;
    line-height: 42px;
}
.lark-column ul li {
    position: relative;
    display: inline-block;
    height: 42px;
}
.lark-column ul li a {
    padding: 0 20px;
}
.lark-column ul li.layui-this:after {
    position: absolute;
    bottom: 13px;
    left: 8px;
    z-index: 0;
    width: 50px;
    height: 22px;
    border: 1px solid #5FB878;
    border-radius: 2px;
}
.lark-column ul li.layui-this a {
    color: #5FB878;
}
.lark-column ul li.layui-this {
    border-bottom: 2px solid #5FB878;
}
.lark-column ul li .lark-mid {
    margin: 0 20px;
}
.lark-column-right {
    position: absolute;
    right: 0;
    top: 0;
}
.lark-column-right .layui-btn {
    vertical-align: initial;
}
.lark-column .layui-badge-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 20px;
}
/* Main */
 .lark-main {
    margin-top: 20px;
}
/*  banner */
 #banner {
    overflow: hidden;
}
.lark-carousel-item {
    overflow: hidden;
}
.lark-carousel-item a {
    position: relative;
    display: block;
    color: #ffffff;
    width: 100%;
    height: 100%;
}
.lark-carousel-item img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.lark-carousel-item .name {
    position: absolute;
    bottom: 50px;
    text-align: center;
    display: block;
    width: 100%;
}
.lark-carousel-item .name span {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}
/* 列表 */
 .lark-list ul {
}
.lark-list li {
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    list-style: none;
}
.lark-list li .layui-badge {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0;
}
.lark-list li .layui-badge.layui-bg-gray {
    background: #999999;
}
.lark-list li a {
    max-width: 85%;
    font-size: 14px;
}
.lark-list .none {
    color: #999999;
}
/* 文章列表 */
 .art-list {
}
.art-list li {
    padding: 15px 0;
}
.art-list li + li {
    border-top: solid 2px #f1f1f1;
}
.art-list .none {
    color: #999999;
}
.art-thumb {
}
.art-thumb img {
    width: 232px;
    height: 120px;
}
.art-intro {
    position: relative;
}
.art-intro h2 {
    font-size: 18px;
    line-height: 28px;
}
.art-intro .summary {
    margin-top: 5px;
    font-size: 13px;
    color: #999999;
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 25px;
}
/*
.art-intro .summary:after {
    content:"...";
    position:absolute;
    bottom:0;
    right:0;
    padding: 0 5px;
    background-color: #fff;
}
*/
 .art-intro .meta {
    color: #999999;
    margin-top: 5px;
}
.art-intro .meta a {
    color: #666666;
    margin-right: 10px;
}
.art-intro .meta a:hover {
    color: #ff0000;
}
.art-intro .meta span {
    margin-right: 10px;
}
.art-intro .meta i {
    margin-right: 3px;
}
/* 详情 */
 .art-detail {
    padding: 10px 15px;
    line-height: 24px;
}
.art-head {
    padding: 10px;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
}
.art-body {
    padding: 0 10px;
}
.art-detail .title {
    word-break: break-word !important;
    word-break: break-all;
    font-family: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.5;
}
.art-detail .meta {
    bottom: 0;
    color: #999999;
    margin: 10px 0 0 0;
}
.art-detail .meta a {
    margin-right: 15px;
}
.art-detail .meta a:hover {
    color: #ff0000;
}
.art-detail .meta span {
    margin-right: 15px;
}
.art-detail .meta i {
    margin-right: 3px;
}
.art-detail .content {
    color: #000000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2em;
}
.art-detail .content p {
    margin: 15px 0;
}
.art-detail .content a {
    color: #01aaed;
}
.art-detail .content table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #999999;
}
.art-detail .content td, .art-detail .content th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    border-color: #999999;
}
.art-detail .content img {
    max-width: 100%;
}
.art-foot {
    padding: 10px;
    border-top: 1px solid #EEEEEE;
    margin-top: 10px;
    font-size: 14px;
    color: #666666;
}
.art-foot a {
    color: #666666;
}
.art-foot a:hover {
    color: #ff0000;
}
.art-foot .meta {
    margin: 0;
}
/* 评论新版 */
 .comment-list ul {
}
.comment-list li {
    position: relative;
    padding: 10px 0 5px;
    border-bottom: 1px dotted #DFDFDF;
}
.comment-list li:last-child {
    border-bottom: none;
}
.comment-list .comment-head {
    position: relative;
    line-height: 20px;
    font-size: 13px;
    color: #999;
    padding: 0 0 0 55px;
    background: none;
}
.comment-list .avatar {
    position: absolute;
    top: 0;
    left: 0;
}
.comment-list .avatar img {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 2px;
}
.comment-list .user a {
    padding-right: 10px;
    font-size: 15px;
    color: #01AAED;
    font-weight: bold;
}
.comment-list .user span {
    padding-right: 10px;
    font-size: 15px;
    float: right;
}
.comment-list .lark-badge-vip {
    height: 16px;
    line-height: 16px;
    padding: 0 3px;
    background-color: #FF5722;
    color: #fff;
    border-radius: 2px;
}
.comment-list .date {
    position: relative;
    left: 0;
    bottom: 0;
    top: 5px;
    line-height: 20px;
}
.comment-list .data span {
    height: 20px;
    line-height: 20px;
}
.comment-list .comment-content {
    margin: 10px 0 10px;
    min-height: 0;
    line-height: 24px;
    font-size: 14px;
    margin-left: 55px;
}
.comment-list .comment-content p{
    font-size: 15px;

}
.comment-list .comment-content img {
    width: 100%;
}
.comment-list .comment-foot {
    position: relative;
    color: #999999;
    font-size: 12px;
}
.comment-list .comment-foot a {
    color: #666666;
    margin-right: 10px;
}
.comment-list .comment-foot a:hover {
    color: #ff0000;
}
.comment-list .comment-foot span {
    margin-right: 10px;
}
.comment-list .comment-foot i {
    margin-right: 3px;
}
.comment-list .none {
    height: 30px;
    line-height: 30px;
    color: #999;
    text-align: center;
}
/** 标签tags **/
 .tags {
}
.tags a {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    border: 1px solid #E3E3E3;
    border-radius: 28px;
    color: #666;
    font-size: 12px;
    transition: .5s ease 0s;
    margin: 5px;
}
.tags a:hover {
    border: 1px solid #FF0000;
    color: #FF0000;
}
/** side main */
 .lark-container {
    position: relative;
}
.lark-container .lark-side {
    position: absolute;
    width: 200px;
    height: 100%;
}
.lark-container .lark-main {
    background: #ffffff;
    min-height: 600px;
    margin: 0 0 0 215px;
    padding: 15px;
}
/** 适配移动版 **/
 .mobile-nav-mask {
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.mobile-nav-toggle {
    position: fixed;
    z-index: 100000;
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
}
.mobile-nav-toggle i {
    font-size: 20px;
}
.highlight b {
    color: #FF5722;
}
.lark-tab {
    position: relative;
    margin-bottom: 20px
}
.lark-tab ul {
    border: 1px solid #E8E8E8;
    border-right: 0px solid #E8E8E8;
}
.lark-tab ul a {
    display: block;
}
.lark-tab ul li {
    width: 120px;
    float: left;
    text-align: center;
    background-color: #fff;
}
.lark-tab ul li.tab-col-5 {
    width: 20%;
}
.lark-tab ul li.tab-col-4 {
    width: 25%;
}
.lark-tab ul li.tab-col-3 {
    width: 33.33%;
}
.lark-tab ul li.tab-col-2 {
    width: 50%;
}
.lark-tab ul a {
    position: relative;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    border-right: 1px solid #E8E8E8;
}
.lark-tab:after {
    content:'\20';
    clear: both;
    *zoom: 1;
    display: block;
    height: 0;
}
/* 上传缩略图 */
 .lark-upload-image {
    display: inline-block;
    margin: 0;
}
.lark-upload-image .upload-text {
}
.lark-upload-image .upload-text span {
    color: #999999;
    margin-left: 5px;
}
.lark-upload-image .upload-text {
    margin: 0 0 8px 0;
}
.lark-upload-image img {
    display: block;
    width: 200px;
    height: 200px;
}
/* member */
 .lark-member {
    text-align: center;
}
.lark-member .avatar {
    width: 120px;
    height: 120px;
}
.lark-member .name {
    line-height: 36px;
    font-size: 18px;
    font-weight: bold;
}
.lark-member .bio {
    color: #666;
}
.lark-member p {
    margin: 5px 0;
}
.pager {
    text-align:center;
    margin-top:20px;
    margin-bottom: 20px;
}
.pager li {
    margin:0px 10px;
    border:1px solid #e6e6e6;
    padding: 4px 8px;
    display: inline-block;
}
.pager .active {
    background-color: #46A3FF;
    color: #fff;
}
.pager .disabled {
    color:#aaa;
}
.cmtsreply{margin-top:10px;padding-left:20px;border-left:2px solid #e4e8eb}
.cmtsreplyname{font-size:14px;color:#888}
.cmtsreplyname span{font-size:14px;color:#333;font-weight:bold}
.cmtsreplycon{margin-top:5px;word-wrap:break-word;word-break:break-all}
.cmtsreplydate{margin-top:5px;font-size:14px;color:#bbb}